@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400&family=IM+Fell+English&family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Montserrat:ital,wght@0,100;0,400;1,100&family=Raleway:wght@100;200;400&family=Roboto:wght@100;300;400&family=Yrsa:wght@300&display=swap');
//font-family: 'Lato', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Bodoni Moda', serif;
//font-family: 'IM Fell English', serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Yrsa', serif;
//font-family: 'Roboto', sans-serif;

#myPage {
    background-color: #080808;
    max-width: 100wh;
    overflow-x: hidden;
}


$font-title: 'Bodoni Moda', serif;
$font-text: 'Montserrat', sans-serif;