@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap");
@import "_general.scss";
@import "_footer.scss";

//Video Intro

@media only screen and   (min-width:1400px) {
.video-p {  
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  //position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: -30px;
  
}
#button-link {
  text-decoration: none;
  color: white;

  
}
.btn{
  width: 100px;
}
#monologue-title{
  color: white;
  margin-top: -50vh;
  margin-left: 45%;
  margin-bottom: 50vh;
}


.photos2-3{
  display: flex;
  //justify-content: space-between;
  height: 60vh; 
}
#photo-mono{
  width: 60vw;
  height: 70vh;
}

#text-mono{
  width: 35vw;
  height: 50vh;
  color: whitesmoke;
  margin-top: 2%;
  font-size: 20px;
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

#footer-monologue{
  margin-top: 1%;
  margin-bottom: 1%;
}

.textButton{
  display: flex;
  flex-direction: column;
 
}
}

@media only screen and   (min-width:1200px) and (max-width: 1400px) {
  .video-p {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    //position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -30px;
    
  }
  #button-link {
    text-decoration: none;
    color: white;
    width: 20px;
    
  }
  .btn{
    width: 100px;
  }
  #monologue-title{
    color: white;
    margin-top: -50vh;
    margin-left: 45%;
    margin-bottom: 50vh;
  }
  
  
  .link-button {
    border: 2px solid #fff;
    color: #fff;
    //padding: 7px 20px;
    //display: inline-block;
  //  margin-top: 15px;
  
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .photos2-3{
    display: flex;
    //justify-content: space-between;
    height: 60vh; 
  }
  #photo-mono{
    width: 100%;
   height: 70%;
  }
  
  #text-mono{
    width: 35vw;
    height: 50vh;
    color: whitesmoke;
    margin-top: 2%;
    font-size: 20px;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
  }
  
  #footer-monologue{
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  }
@media only screen and   (min-width: 992px) and (max-width: 1200px) {
  .video-p {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    //position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -30px;
    
  }
  #button-link {
    text-decoration: none;
    color: white;
    width: 20px;
    
  }
  .btn{
    width: 100px;
  }
  #monologue-title{
    color: white;
    margin-top: -50vh;
    margin-left: 45%;
    margin-bottom: 50vh;
  }
  
  
  .link-button {
    border: 2px solid #fff;
    color: #fff;
    //padding: 7px 20px;
    //display: inline-block;
  //  margin-top: 15px;
  
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .photos2-3{
    display: flex;
    //justify-content: space-between;
    height: 60vh; 
  }
  #photo-mono{
    width: 100%;
    height: 70%;
  }
  
  #text-mono{
    width: 35vw;
    height: 50vh;
    color: whitesmoke;
    margin-top: 2%;
    font-size: 20px;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
  }
  
  #footer-monologue{
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  }
@media only screen and   (min-width:768px) and (max-width: 992px) {
  .photos2-3{
    display: flex;
    flex-direction: column;
   // justify-content: flex-start;
  
 }
 
 #text-mono {
   //  width: auto;
    // padding-top: 10px;
     font-size: 14px;
     width: 100%;
 
 }
 #photo-mono{
   width: 100%;
   height: 70%;
 }
 
 }

@media only screen and   (min-width:480px) and (max-width: 768px) {

  .photos2-3{
     display: flex;
     flex-direction: column;
    // justify-content: flex-start;
   
  }
  
  #text-mono {
    //  width: auto;
     // padding-top: 10px;
      font-size: 14px;
      width: 100%;
  
  }
  #photo-mono{
    width: 100%;
    height: 70%;
  }
  
  .btn{
    width: 100px;
  }
  }
 

@media only screen and (min-width:320px) and (max-width:480px) {

.photos2-3{
   display: flex;
   flex-direction: column;
  // justify-content: flex-start;
 
}

#text-mono {
  //  width: auto;
   // padding-top: 10px;
    font-size: 14px;
    width: 100%;

}
#photo-mono{
  width: 90%;
  height: 100%;
}
.btn{
  width: 100px;
}

}
