
//General
@import "_general.scss";

//Footer 
@import "_footer.scss";

#page{
    background-color: #222;
    max-width: 100wh;
    overflow-x: hidden;
}
/*body {
    
    background-image: url("red-smoke2.png");
    background-size: 100vw 100vh;
   // background-attachment: fixed;
}
*/
.photos2-3{
    display: flex;
    justify-content: center;
    height: 100vh;
   
  }
  #photo2 {
    width: 60vw;
    height: 100vh;
    //margin-left: 15%;
  }
  
  #text-music{
    max-width: 45vw;
    height: 100%;
    color: whitesmoke;
    margin-top: 120px;
    font-size: 20px;
    max-width: 30%;
    margin-left: 3%;
    text-align: center;

  }

.videos-container{
    display: block;
    background: transparent;
    color: #fff;
    min-height: 100vh;
    margin-left: 15%;
   
}
.body-section{
    max-width: 80%;
   
}
.video-resp{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
iframe{
    
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    position: absolute;
    margin-left: 10%;
}
#break{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer-music{
    margin-top: -5%;
}

/*
.back-video{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
   //position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    

}

video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -30px;
    
  }
.filter{
    background: rgba(0,0,0,.5);
    position: fixed;
    height: 100vw;
    width: 100vw;
    margin-top: -20px;
   
}

#monologue-title{
    padding-top: 30vh;
    padding-left: 35%;
}*/